{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% if view_user %}{% trans "Albums for user" %} {{ view_user.username }}{% else %}
    {% trans "All albums" %}{% endif %}{% endblock %}
{% block imagestore-breadcrumb %}
    <li>{% if view_user %}{% trans "Albums for user" %} {{ view_user.username }}{% else %}
    {% trans "All albums" %}{% endif %}</li>{% endblock %}
{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with view_user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}
{% block content %}
    {% include "imagestore/pagination.html" %}
    <ul class="thumbnails">{% for album in album_list %}
        {% if album.get_head  or album.user == request.user %}
            <li class='thumbnail'>
                {% if album.get_head %}
                    {% thumbnail album.get_head.image "260x180" crop='center' as album_head %}
                        <a class="awatit" href="{{ album.get_absolute_url }}">
                            <div class="awtitgal">
                                <h3 class="">{{ album.name }}</h3>

                {% if not view_user and IMAGESTORE_SHOW_USER %}
                                <p>{% trans "user" %}: {{ album.user.username }}</p>
                {% endif %}
                            </div>
                            <img class="preview" {% if album.name %}
                                 alt="{{ album.name }}" {% endif %}src="{{ album_head.url }}"></a>
                    {% endthumbnail %}
                {% else %}
                    [{% trans "Empty album" %}]
                {% endif %}

{% if imagestore_perms.add_album or request.user.is_superuser %}
                    <div class="clearfix"></div>

                    <div class="m-btn-group">
                        <a href="#" class="m-btn disabled mini icn-only"><i class="icon-white icon-thumbs-up"></i></a>
                        <a href="#" class="m-btn disabled mini icn-only"><i class="icon-white icon-heart"></i></a>
                        <a href="{% url imagestore:update-album pk=album.pk %}" rel="tooltip" data-original-title="{% trans "Edit album" %}"
                           class="m-btn black btn-inverse mini icn-only"><i class="icon-white icon-share-alt"></i></a>
                    </div>
                    <div class="m-btn-group">
                        <a href="{% url imagestore:delete-album album.id %}" class="m-btn red mini icn-only"
                           rel="tooltip" data-content="And here's some amazing content. It's very engaging. right?"
                           title="Удалить альбом"><i class="icon-white icon-remove"></i></a>
                    </div>

                {% endif %}
            </li>
        {% endif %}
    {% endfor %}</ul>
    {% include "imagestore/pagination.html" %}
{% endblock %}
{% block content-related %}{% if imagestore_perms.add_album or request.user.is_superuser %}
<a href="{% url imagestore:create-album %}" class="m-btn purple big">{% trans "Create new album" %} <i class="m-icon-big-swapright m-icon-white"></i></a>
{% endif %}
{% endblock %}
