{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% if view_user %}{% trans "Albums for user" %} {{ view_user.username }}{% else %}{% trans "All albums" %}{% endif %}{% endblock %}
{% block imagestore-breadcrumb %}<li>{% if view_user %}{% trans "Albums for user" %} {{ view_user.username }}{% else %}{% trans "All albums" %}{% endif %}</li>{% endblock %}
{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with view_user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}
{% block content %}
    {% include "imagestore/pagination.html" %}
    <ul class="thumbnails">{% for album in album_list %}
        {% if album.get_head  or album.user == request.user %}
            <li class='thumbnail'>
                    {% if album.get_head %}
                        {% thumbnail album.get_head.image "260x180" crop='center' as album_head %}
                <a href="{{ album.get_absolute_url }}"><img class="preview" {% if album.name %} alt="{{ album.name }}" {% endif %}src="{{ album_head.url }}"></a>
                        {% endthumbnail %}
                    {% else %}
                        [{% trans "Empty album" %}]
                    {% endif %}
                    <h3>{{ album.name }}</h3>
                    {% if not view_user and IMAGESTORE_SHOW_USER %}
                    <p>{% trans "user" %}: {{ album.user.username }}</p>
                    <div class="btn-toolbar">
      <div class="btn-group">
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-thumbs-up"></i></a>
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-heart"></i></a>
      <a href="{{ album.get_absolute_url }}" rel="tooltip" data-original-title="Просмотреть альбом" class="btn btn-inverse"><i class="icon-white icon-share-alt"></i></a>
  </div>
  <div class="btn-group">
      <a href="{% url imagestore:delete-album album.id %}" class="btn btn-danger pd" rel="tooltip" data-content="And here's some amazing content. It's very engaging. right?" title="Удалить альбом"><i class="icon-white icon-trash"></i></a>
  </div>
</div>
                    {% endif %}
            </li>
        {% endif %}
    {% endfor %}</ul>
    {% include "imagestore/pagination.html" %}
{% endblock %}
