{% extends IMAGESTORE_TEMPLATE|default:"base.html" %}
{% load i18n static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block extrajs %}
<!--
            theme: 'facebook',
-->
    <script src="{% static 'js/jquery.prettyPhoto.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var prettyparams = {
            animation_speed: 'fast',
            slideshow: 3000,
            autoplay_slideshow: false,
            opacity: 0.7,
            show_title: true,
            allow_resize: true,
            default_width: 1000,
            default_height: 344,
            theme: 'facebook',
            counter_separator_label: '/',
            overlay_gallery: true,
            changepicturecallback: function() {$pp_overlay.css({'height':$(document).height()})}
            };
        $(function(){$("a[rel^='gallery-image']").prettyPhoto(prettyparams)});
    </script>
{% endblock %}
{% block sidebar %}
    <div class="well sidebar-nav" id="controls">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Gallery" %}</li>
            {% if imagestore_perms.add_image or request.user.is_superuser %}
                <li><a href={% url imagestore:upload %}>{% trans "Upload image" %}</a></li>
            {% endif %}
            {% if imagestore_perms.add_album or request.user.is_superuser %}
                <li><a href={% url imagestore:create-album %}>{% trans "Create new album" %}</a></li>
            {% endif %}
            {% block imagestore-info %}{% endblock %}
            {% block controls %}
            {% endblock controls %}
        </ul>
        {% include "imagestore/tag-cloud.html" %}
    </div><!--/.well -->
{% endblock %}
{% block breadcrumb %}
    <ul class='breadcrumb'>
        {% if request.path != imagestore_index_url %}
            <li><a href="{{ imagestore_index_url }}">{% trans "Gallery" %}</a> <span class="divider">/</span></li>
        {% endif %}
        {% block imagestore-breadcrumb %}{% endblock %}
    </ul>
{% endblock %}
{% block content %}
{% endblock content %}
{% block content-related %}
        {% block imagestore-info %}
        {% endblock %}
        <div id="controls">
            <ul>
                {% if imagestore_perms.add_image or request.user.is_superuser %}
                    <li><a href={% url imagestore:upload %}>{% trans "Upload image" %}</a></li>
                {% endif %}
                {% if imagestore_perms.add_album or request.user.is_superuser %}
                    <li><a href={% url imagestore:create-album %}>{% trans "Create new album" %}</a></li>
                {% endif %}
                {% block controls %}
                {% endblock controls %}
            </ul>
        </div>
        {% block imagestore-related %}
        {% endblock %}
{% endblock %}