{% load i18n thumbnail %}
<ul class="thumbnails">
    {% for image in image_list %}<li>
        {% thumbnail image.image "160x120" crop="center" as im %}
                <a class="thumbnail" rel='gallery-image[ilist]' href="{{ image.get_absolute_url }}">
                    <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                </a>
        {% endthumbnail %}
        </li>{% endfor %}
    {% include "imagestore/pagination.html" %}
</ul>


