{% extends "imagestore/base.html" %}
{% load i18n thumbnail %}
{% load url from future %}
{% block imagestore-breadcrumb %}{% with "li" as scope_tag %}{% include "imagestore/image-scope.html" %}{% endwith %}{% endblock %}
{% block title %}{% include "imagestore/image-scope.html" %}{% endblock %}
{% block content %}
    {% include "imagestore/pagination.html" %}
    <ul class="thumbnails">{% for image in image_list %}
        <li class='thumbnail'>
            {% thumbnail image.image "800" as big %}
            {% thumbnail image.image "160x120" crop="center" as im %}
            <a rel='gallery-image[ilist]' class="awatit" href="{{ big.url }}">
                    <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                {% if image.title %}<div class="awtitgal awm30"><p>{{ image.title }}</p></div>{% endif %}
            </a>
            {% endthumbnail %}
            {% endthumbnail %}
{% if request.user == image.user or perms.imagestore.moderate_images %}
<div class="clearfix"></div>

                    <div class="m-btn-group">
                        <a href="#" class="m-btn disabled mini icn-only"><i class="icon-white icon-thumbs-up"></i></a>
                        <a href="#" class="m-btn disabled mini icn-only"><i class="icon-white icon-heart"></i></a>
                        <a href="{% url 'imagestore:update-image image.id'  %}" rel="tooltip" data-original-title="{% trans "Edit info" %}"
                           class="m-btn black btn-inverse mini icn-only"><i class="icon-white icon-share-alt"></i></a>
                    </div>
                    <div class="m-btn-group">
                        <a href="{% url 'imagestore:delete-image image.id'  %}" class="m-btn red mini icn-only"
                           rel="tooltip" data-content="And here's some amazing content. It's very engaging. right?"
                           title="{% trans "Delete image" %}"><i class="icon-white icon-remove"></i></a>
                    </div>

                {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% include "imagestore/pagination.html" %}
{% endblock %}
{% block content-related %}{% if imagestore_perms.add_image or request.user.is_superuser %}
<a href="{% url 'imagestore:upload' %}" class="m-btn blue big">{% trans "Upload image" %} <i class="m-icon-big-swapdown m-icon-white"></i></a>
    {% endif %}
{% endblock %}

