{% extends "imagestore/base.html" %}
{% load i18n thumbnail %}
{% block imagestore-breadcrumb %}{% with "li" as scope_tag %}{% include "imagestore/image-scope.html" %}{% endwith %}{% endblock %}
{% block title %}{% include "imagestore/image-scope.html" %}{% endblock %}
{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with view_user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
    {% if album and IMAGESTORE_SHOW_USER %}
        {% with album.user.get_profile as profile %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}
{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
            <li><a href='{% url imagestore:update-album pk=album.pk %}'>{% trans "Edit album" %}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    {% include "imagestore/pagination.html" %}
    <ul class="thumbnails">{% for image in image_list %}
        <li class='thumbnail'>
            {% thumbnail image.image "800" as big %}
            {% thumbnail image.image "160x120" crop="center" as im %}
            <a rel='gallery-image[ilist]' href="{{ big.url }}">
                    <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                </a>
                {% if image.title %}<p>{{ image.title }}</p>{% endif %}
            {% endthumbnail %}
            {% endthumbnail %}
        </li>
    {% endfor %}
    </ul>
    {% include "imagestore/pagination.html" %}
{% endblock %}


