{% extends "imagestore/base.html" %}
{% load i18n bootstrap_tags thumbnail static %}
{% block title %}{% trans "Upload image" %}{% endblock %}
{% block extrajs %}{{ block.super }}
    <script src="{% static "autocomplete.js" %}" type="text/javascript" charset="utf-8"></script>
    <script>
        $(function(){
            completeField('#id_tags', '{% url imagestore:autocomplete "tag" %}');
            completeField('#id_place_text', '{% url imagestore:autocomplete "place" %}');
        })
    </script>
{% endblock %}
{% block imagestore-breadcrumb %}<li>{% trans "Upload image" %}</li>{% endblock %}
{% block content %}
    <form action="." method="post" enctype="multipart/form-data" class='upload-image'>{% csrf_token %}
        <legend>{% trans "Upload image" %}</legend>
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Upload" %}</button>
        </div>
    </form>
{% endblock content %}